*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
  }
h1 {
    font-family: 'Righteous';
    font-size: 38px;
    color: #FAD02C;
    margin-left: 30px;
    margin-right: 710px;
    letter-spacing: 4px;
    padding: 15px 0 15px 0;
}
#header {
    background-color: #282120;
    display: flex;
    flex-direction: row;
    align-items: center;
}
a {
    color: #fff;
    text-decoration: none;
    font-family: 'Poppins';
    font-weight: 300;
}
a:hover {
    color: #FAD02C;
}
#main-photo {
    height: 250px;
    border-radius: 50%;
    margin: 20px;
}
.yellow-section {
    background-color: #FAD02C;
}
.black-section {
    background-color: #282120;
}
.yellow-text {
    color: #FAD02C;
    font-family: 'Poppins';
    font-weight: 400;
    padding: 30px;
}
h2 {
    font-family: 'Righteous';
    font-weight: 900;
}
.section-titles {
    margin-left: 30px;
}
#discography-section {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}
#discography {
    letter-spacing: 86px;
    font-size: 32px;
    padding: 40px;
}
#discography-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#second-photo {
    height: 450px;
    border-radius: 50%;
    margin-bottom: 25px;
}
#albuns-text-title {
    color: #282120;
    padding: 15px;
}
.black-section-titles {
    margin-left: 30px;
    color: #FAD02C;
    padding: 20px;
    letter-spacing: 30px;
}
li {
    font-family: 'Poppins';
    color: #282120;
    margin-left: 30px;
    font-size: 14px;
    font-weight: 400;
}
h6 {
    font-family: 'Righteous';
    color: #FAD02C;
    font-size: 32px;
    padding: 30px;
}